@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

#root {
    margin: 0;
    padding: 0; 
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

}

.navbar{
  display: flex;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
}
.waitlist{
    color: #0B0CF4;
}

